
UNSAFEPAY_TELEGRAM = '000000000:AAAAAAAAAAAAAAAAAAAAAAAA-AAAAAAAAAA'
TEST_TELEGRAM = '000000000:BBBBBBBBBBBBBBBBBBBBBBBB-BBBBBBBBBB'

# UNSAFEPAY_TELEGRAM = TEST_TELEGRAM

ALLOWED_IDS = [(chat_id:int, 'telegram username')]

__all__ = [
    'UNSAFEPAY_TELEGRAM', 'ALLOWED_IDS'
]
